{
  "presets": [ "react", "es2015", "stage-0" ],//,
  //"plugins": ["antd", { "style": true }]  //CSS和JS按需加载，babel-antd
  "plugins": [["antd", {
      "style": "css",  // 'less',
      "libraryName": "antd-mobile"
    }]]
}